h1 {
    color: #003087;
    size: 20px;
}

a {
    color: #003087;
}

body {
    margin: 10px;
    font-family: Georgia, sans-serif;
}

.topelement {
    margin: 50px 40px 0px 40px;
}

.bottomelement {
    margin: 100px 40px 120px 40px;
}

.pageelement {
    margin: 100px 10px 120px 10px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    max-width: none;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    max-width: none;
}

#myChart {
    justify-content: space-between;
}


label {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 700px;
  margin-bottom: 10px;
}
.stock-info {
  border: 1px solid #1a2fa7;
  padding: 40px;
  border-radius: 5px;
}
.stock-info header {
  font-weight: bold;
  margin-bottom: 10px;
}
.stock-info .data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.stock-info .data:not(:last-child) {
  border-bottom: 1px solid #1a2fa7;
  padding-bottom: 5px;
}
.stock-news {
  border: 1px solid #1a2fa7;
  padding: 20px;
  border-radius: 5px;
}
.stock-news .header {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}
.stock-news .content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 15px;
}
.stock-news .data:not(:last-child) {
  border-bottom: 1px solid #1a2fa7;
  padding-bottom: 5px;
}
