{% include 'header.html' %}
<div class="pageelement">
{% with messages = get_flashed_messages(category_filter="error") %}
  {% if messages %}
  
  <div class="container-fluid">
    <div class="alert alert-warning" role="alert">
    {% for  message in messages %}
      {{ message }}<br>
    {% endfor %}
    </div>
  </div>

  {% endif %}
{% endwith %}
  <div class="row">
    <div class="form-group row">
        <label for="symbol" class="col-sm-1 col-form-label d-flex justify-content-end align-items-end">Stock Symbol</label>
        <div class="col-sm-1">
          <input type="text" class="form-control" id="symbol" placeholder="symbol" value="{{ page_data['inputValue'] }}">
        </div>
         <div class="col-sm-1">
          <button id="retrieve" class="btn btn-primary">Retrieve</button>
        </div>
      </div>
  </div>

  {% if symbol is defined %}
  <label for="symbol">{{symbol}}</label>
    <div class="stock-current">
      <div class="data"><span>Current Price: </span> <span>{{ price[0] }}</span></div>
      <div class="data"><span>Previous Open: </span> <span>{{ previous_open }}</span></div>
      <div class="data"><span>Previous Close: </span> <span>{{ price[1] }}</span></div>
      <div class="data"><span>Volume: </span> <span>{{ price[2] }}</span></div>
    </div>
  <input type="hidden" id="submittedSymbol" name="submittedSymbol" value="{{ symbol }}">
  <div id="myChart">
  </div>
  <div id="myChart"></div>
  {% endif %}
  {% if compinfo is defined %}
  </head>
  <body>
  <label for="symbol">Company Summary</label>
    <div class="container"></div>
        <div class="stock-info">
          <div class="data"><span>Name</span> <span>{{compinfo['Name'][0] }}</span></div>
          <div class="data"><span>Symbol</span> <span>{{compinfo['Symbol'][0]}}</span></div>
          <div class="data"><span>Exchange</span> <span>{{compinfo['Exchange'][0]}}</span></div>
          <div class="data"><span>Sector</span> <span>{{ compinfo['Sector'][0] }}</span></div>
          <div class="data"><span>Industry</span> <span>{{ compinfo['Industry'][0] }}</span></div>
          <div class="data"><span>MarketCapitalization</span> <span>{{ compinfo['MarketCapitalization'][0] }}</span></div>
          <div class="data"><span>PERatio</span> <span>{{ compinfo['PERatio'][0] }}</span></div>
          <div class="data"><span>EPS</span> <span>{{ compinfo['EPS'][0] }}</span></div>
          <div class="data"><span>DividendPerShare</span> <span>{{ compinfo['DividendPerShare'][0] }}</span></div>
          <div class="data"><span>DividendYield</span> <span>{{ compinfo['DividendYield'][0] }}</span></div>
          <div class="data"><span>52WeekHigh</span> <span>{{ compinfo['52WeekHigh'][0] }}</span></div>
          <div class="data"><span>52WeekLow</span> <span>{{ compinfo['52WeekLow'][0] }}</span></div>
        </div>
  {% endif %}
  {% if summaries is defined %}
  <label for="symbol">Latest News</label>
    <div class="container"></div>
        <div class="stock-news">
          <button class="header" onclick=window.location.href="{{ summaries['2'][0] }}";><span>{{ summaries['0'][0] }}</span></button>
          <div class="content"><span>{{ summaries['1'][0] }}</span></div>
        </div>
    <div class="container"></div>
        <div class="stock-news">
          <button class="header" onclick=window.location.href="{{ summaries['2'][1] }}";><span>{{ summaries['0'][1] }}</span></button>
          <div class="content"><span>{{ summaries['1'][1] }}</span></div>
        </div>
    <div class="container"></div>
        <div class="stock-news">
          <button class="header" onclick=window.location.href="{{ summaries['2'][2] }}";><span>{{ summaries['0'][2] }}</span></button>
          <div class="content"><span>{{ summaries['1'][2] }}</span></div>
        </div>
    <div class="container"></div>
        <div class="stock-news">
          <button class="header" onclick=window.location.href="{{ summaries['2'][3] }}";><span>{{ summaries['0'][3] }}</span></button>
          <div class="content"><span>{{ summaries['1'][3] }}</span></div>
        </div>
    <div class="container"></div>
        <div class="stock-news">
          <button class="header" onclick=window.location.href="{{ summaries['2'][4] }}";><span>{{ summaries['0'][4] }}</span></button>
          <div class="content"><span>{{ summaries['1'][4] }}</span></div>
        </div>
    <div class="container"></div>
        <div class="stock-news">
          <div class="header"><span>More...</span></div>:
        </div>
  </div>
  </body>
  </html>
  {% endif %}
  {% if summaries is not defined %}
  <body>Information about the Latest News and Stock Summaries are not provided</body>
  {% endif %}

</div>
<!-- needs to occur before loading the footer as the footer closes off the html page -->
<script src="{{ url_for('static', filename='includes/stock.js') }}"></script>
<script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>


{% include 'footer.html' %}